* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}
.buttons {
  background-color: rgb(32, 30, 30);
  display: grid;
  padding: 20px;
  gap: 10px;
  height: 60vh;
  width: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: rgb(32, 30, 30);;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 50vh;
}
.screen {
  width: 90%;
  height: 70%;
  border: 0;
  border-radius: 10px;
}
.equal {
  border-radius: 20px;
  grid-row: span 3;
  background-color: rgb(221, 108, 27);
  color: rgb(255, 255, 255);
}
.operator {
  background-color: green;
  color: white;
}
button {
  font-size: 30px;
  border: 1px solid rgb(88, 86, 86);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  transition: color .3s,background-color .3s,scale .3s;
}
button:hover{
    background-color: rgb(138, 133, 133);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    scale: 95%;
}
.equal:hover{
  color: rgb(221, 108, 27);
  background-color: black;
  border: 1px solid rgb(221, 108, 27);
}
.operator:hover{
  color:green;
  background-color: black;
}
.C,.AC{
  /* color: red; */
}
.C:hover,.AC:hover{
  color: red;
  background-color: white;
  border-color: red;
}